@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0 !important;
  font-family: 'Poppins' !important;
  color: #254cdd !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

.Minter {
  max-width: 500px !important;
  padding: 40px 40px !important;
  margin: 0 auto !important;
  text-align: left !important;

}

input {
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: groove !important;
  font-size: 16px !important;
  width: 100% !important;
  border-color: rgba(4, 4, 5, 0.1) !important;
  line-height: 32px !important;
}

input:focus {
  outline: none !important;
  border-color: rgba(4, 4, 5, 0.4) !important;
}


button:hover {
  margin-top: -1px !important;
}


.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1) !important;
  border-radius: 16px !important;
  text-align: center !important;
  padding: 32px 60px !important;
}

#walletButton {
  text-align: right !important;
  float:right !important;
  margin-bottom: 25px !important;
  width: 100% !important;
}

#walletButtonAvax {
  text-align: right !important;
  float:right !important;
  margin-bottom: 5px !important;
  width: 100% !important;
}

/*
#walletButton:focus {
  outline:none;
  border: none;
}

#walletButton:hover {
  outline:none;
  border :none;
} */
